body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero{
    background-color: #1F2937;
    color: white;
    padding-bottom: 64px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 64px;
}

.subtitle h2 {
    font: bolder 48px Arial;
    margin: 0;
}

.first-section img {
    width: 40%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 16px;
}

li a{
    color: white;
    text-decoration: none;
}

.first-section {
    display: flex;
    gap: 64px;
}

.sub-section {
    display: flex;
    flex-direction: column;
}

.sign-up {
    max-width: 300px;
}

.information{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 32px 20%;
}


.quote {
    background-color: #E5E7EB;
    padding: 64px 20%;
}


.quote p {
    font: italic lighter 24px Arial;
}

.call-to-action {
    background-color: #3882F6;
    color: white;
    margin: 64px 15%;
    padding: 30px 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

h4 {
    margin:0;
}

.call-to-action button {
    flex: 0 1 100px;
    height: 50px;
    color: white;
    background-color: #3882F6;
    border-color: white;
}

.information img{
    width:150px;
    height:150px;
}

.footer{
    background-color: #1F2937;
    color: white;

    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}


h3 {
    text-align: center;
}

.hero, .footer {
    padding-left: 15%;
    padding-right: 15%;
}

.hero, .information, .quote {
    padding-bottom: 64px;
}